*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing:border-box;
    
}

body{
    background: rgb(222, 241, 231);
    color: black;
}
#header{
    width: 100%;
    height: 10vh;
    /*background-image: url(images\IMG-1909 (1).jpg);*/
    background-size: cover;
    background-position: right;

}

nav ul{
    float: right;
    margin-right: 40px;
    
}

nav ul li{
    display: inline-block;
    /*width: 100%; */
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: rgb(58, 126, 78);
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(58, 126, 78);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 15%;
    font-size: 30px;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.header-text h1{
    display: block;
    font-size: 4em;
    font-weight: 900;
    margin-top: 20px;
}

.header-text p{
    font-size: 70%;
    display: block;
    font-size: 1em;
}

.header-text h1 span{
    color:rgb(58, 126, 78);
}

/*-----About page below-------*/
#about{
    padding: 80px 0;
    margin-bottom: 17%;
    /*color:*/
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    /*width: 100%;*/
    border-radius: 15px;
    margin-left: 150px;

}

.about-col-2{
    flex-basis: 60%;

}

.about-col-2 p{
    font-size: 18px;
}

.about-col-2 li{
    font-size: 16px;
}


.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: black;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(58, 126, 78);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(34, 75, 46);
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------------WORK (PROJECTS) -----------*/
#services{
    padding: 30px 0;
    

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.services-list div{
    background: rgb(88, 182, 116);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: rgb(129, 235, 161) ;
    transform: translateY(-10px);

}

/*----------projects/work-----------*/

.portfolio{
    padding: 50px 0;
    margin-bottom: 40px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(222, 241, 231), rgb(129, 235, 161) );
    border-radius: 10px;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    
}


/*----home page----*/
